name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - 'github-releases/**'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package_variant: [ apt-android-7 ]

    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Setup java 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Write signing key
        run: |
          echo "KEYSTORE_PASSWORD=${{ secrets.KEYSTORE_PASSWORD }}" >> gradle.properties
          echo "KEY_ALIAS=${{ secrets.KEY_ALIAS }}" >> gradle.properties
          echo "KEY_PASSWORD=${{ secrets.KEY_PASSWORD }}" >> gradle.properties
          echo "KEYSTORE_FILE=key.jks" >> gradle.properties

          echo "${{ secrets.KEYSTORE }}" | base64 -d > key.jks

          test -f key.jks || exit 1

      - name: Build APKs
        shell: bash
        run: |
          set -e

          PACKAGE_VARIANT="apt-android-7"

          CURRENT_VERSION_NAME=$(grep -m1 'versionName' app/build.gradle | sed -E 's/.*"([^"]+)".*/\1/')
          VERSION_TAG="v${CURRENT_VERSION_NAME}"

          APK_DIR_PATH="./app/build/outputs/apk/release"
          APK_BASENAME_PREFIX="termux-app_${VERSION_TAG}"

          echo "APK_DIR_PATH=$APK_DIR_PATH" >> $GITHUB_ENV
          echo "APK_BASENAME_PREFIX=$APK_BASENAME_PREFIX" >> $GITHUB_ENV

          export TERMUX_PACKAGE_VARIANT="$PACKAGE_VARIANT"
          export TERMUX_APP_VERSION_NAME="$CURRENT_VERSION_NAME"

          ./gradlew assembleRelease

          mv "$APK_DIR_PATH/app-universal-release.apk" \
             "$APK_DIR_PATH/${APK_BASENAME_PREFIX}_universal.apk"

          mv "$APK_DIR_PATH/app-arm64-v8a-release.apk" \
             "$APK_DIR_PATH/${APK_BASENAME_PREFIX}_arm64-v8a.apk"


      - name: Upload universal APK
        uses: actions/upload-artifact@v4
        with:
          name: universal
          path: ${{ env.APK_DIR_PATH }}/${{ env.APK_BASENAME_PREFIX }}_universal.apk

      - name: Upload arm64-v8a APK
        uses: actions/upload-artifact@v4
        with:
          name: arm64-v8a
          path: ${{ env.APK_DIR_PATH }}/${{ env.APK_BASENAME_PREFIX }}_arm64-v8a.apk
